* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1E1E1E;
  color: #D4D4D4;
  font-family: 'Fira Code', monospace;
  line-height: 1.6;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}